{% extends "HomePage/cover.html" %}
{% block gyb %}
<style type="text/css">
    .testimonial-item-job{
        background-color:white;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
        position: relative;
        width: 95%;
        margin-left: 5px;
        padding: 0 15px;
        display: flex;
    }

    #job_search_id{
        position: relative;
        align-items: center;
        justify-content: center;
        text-align: center;
        justify-items: center;
        justify-self: center;
    }

</style>

<!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{{ url_for('static', filename='style/homePage/img/carousel1.jpg') }}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <!-- <h3>Washing & Detailing</h3> -->
                            <h1 style="font-size: 50px;">Discover a World of Opportunities</h1>
                            <p>
                                 JobSphere consolidates job listings from various platforms, providing you with a comprehensive view of available positions tailored to your skills.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{{ url_for('static', filename='style/homePage/img/carousel4.jpg') }}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <!-- <h3>Washing & Detailing</h3> -->
                            <h1 style="font-size: 50px;">Stay Ahead with Real-Time Notifications</h1>
                            <p>
                                Sign up for personalized email alerts to receive updates on new job postings that match your expertise, ensuring you never miss an opportunity
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="{{ url_for('static', filename='style/homePage/img/carousel3.jpg') }}" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <!-- <h3>Washing & Detailing</h3> -->
                            <h1 style="font-size: 50px;">Streamline Your Job Search</h1>
                            <p>
                                With {{ app_name }}, you can save time and effort by accessing all relevant job openings in one place, making your job hunt more efficient and effective.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->

        <!-- About Start -->
        <div class="about" style="margin-top:-5%;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <p>About Us</p>
                        </div>

                        <div class="about-img">
                            <img src="{{ url_for('static', filename='style/homePage/img/new/carousel5.jpg') }}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- <div class="section-header text-left">
                            <h2>{{ app_name }}</h2>
                        </div> -->
                        <div class="about-content">
                            <p>
                                Welcome to <strong>{{ app_name }}</strong>, your one-stop platform for streamlined job searching! We understand how time-consuming it can be to browse multiple job sites, so we bring together listings from a variety of platforms to help job seekers find opportunities faster and easier. Our mission is to make job hunting more accessible, giving you more time to focus on preparing for your dream job.
                                </p>
                                <p>
                                At <strong>{{ app_name }}</strong>, we proudly offer <strong>{{ category_counts }} job categories</strong> and <strong>{{ job_count }} job positions</strong> for you to explore. We go the extra mile to ensure you never miss a career opportunity.
                                </p>
                                <p>
                                When new job postings appear on any of our sourced platforms, you’ll receive a personalized email notification that matches your unique skills and chosen job categories. Whether you're a software developer, accountant, technician, secretary, or lawyer, we’ll make sure you’re alerted about roles relevant to your field, such as openings in Java development, accounting, technical support, and more.
                                </p>
                                <p>
                                Our real-time alert system keeps you in the loop with the latest job opportunities without the need for constant searching, so you’ll always be among the first to know and apply. If you're looking for a smart, time-saving solution to streamline your job search, <strong>{{ app_name }}</strong> is here to help. Let us do the work of finding new opportunities while you focus on landing your ideal position.
                            </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="price" style="margin-top:-2%;">
                    <div class="section-header text-center" style="font-family: sans-serif;font-style: italic;">
                        <p>Job Listings by Category</i> </p>
                        <h3 style="text-decoration:underline;margin-top: 3px;">Jobs <i class="text-secondary">{{ job_count }}</i> and categories <i class="text-secondary">{{ category_counts }}</i></h3>
                    </div>
                    
                </div>
                <!-- <div class="row">
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            
                            <h3><i class="fa fa-briefcase" style="width:20px;height: 20px;"></i>&nbsp;Exterior Washing</h3>
                            <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                        </div>
                    </div>
                    
                </div> -->
                <div class="testimonial">
                    <div class="container">
                    
                        <div class="owl-carousel testimonials-carousel">    {% for category, jobs in categorized_jobs.items() %}
                                {% if jobs|length > 0 %}
                                    <div class="testimonial-item-job">
                                        <div class="testimonial-text">
                                            <h3>{{ category }} (<i class="text-secondary">{{ jobs|length }}</i> jobs)</h3> <!-- Count jobs in each category -->
                                            <ul>
                                                {% for job in jobs[:5] %}
                                                    <li>
                                                        {% if job|length > 34 %}
                                                            {{ job[:34] }}...
                                                        {% else %}
                                                            {{ job }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>

                                            <!-- <button class="btn btn-primary">More</button> -->
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <!-- Testimonial End -->

                <!-- <button class="btn btn-custom" type="submit" onclick="window.location.href='/jobs'" id="job_search_id">Job by search</button> -->
                <div style="text-align: center;">
                    <button class="btn btn-custom" type="submit" onclick="window.location.href='/jobs'" id="job_search_id">
                        Job by Searching....
                    </button>
                </div>

        
            </div>
        </div>
        <!-- Service End -->
        
        <!-- Facts Start -->
        <div class="facts" data-parallax="scroll" data-image-src="{{ url_for('static', filename='style/homePage/img/facts.jpg') }}">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-eye"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">1.2</h3><h3>k</h3>
                                <p>Visits</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-briefcase"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">{{ category_counts }}</h3>
                                <p>Job categories</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-clipboard-list"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">{{ job_count }}</h3>
                                <p>Job positions</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Facts End -->
        
        
        <!-- Price Start -->
        <div class="price">
            <div class="container">
                <div class="section-header text-center">
                    <p>Job Seekers' Payment</p>
                    <h2>Choose Your Plan</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>1 Month</h3>
                                <h2><span></span><strong>3,000</strong><span>Frw</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Access on job categories</li>
                                    <li><i class="far fa-check-circle"></i>Access on job positions</li>
                                    <li><i class="far fa-check-circle"></i>New opportunity notification</li>
                                    <li><i class="far fa-check-circle"></i> Actively for 30 days</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <!-- <a  id="openModal" href="#"></a> -->
                                <button class="btn btn-custom openModal">Book Now</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <h3>6 months</h3>
                                <h2><strong>12,000</strong><span>Frw</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Access on job categories</li>
                                    <li><i class="far fa-check-circle"></i>Access on job positions</li>
                                    <li><i class="far fa-check-circle"></i>New opportunity notification</li>
                                    <li><i class="far fa-check-circle"></i>Actively for 183 days</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <!-- <a class="btn btn-custom" id="openModal" href="#">Book Now</a> -->
                                <button class="btn btn-custom openModal">Book Now</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <h3>Yearly</h3>
                                <h2><strong>20,000</strong><span>Frw</span></h2>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><i class="far fa-check-circle"></i>Access on job categories</li>
                                    <li><i class="far fa-check-circle"></i>Access on job positions</li>
                                    <li><i class="far fa-check-circle"></i>New opportunity notification</li>
                                    <li><i class="far fa-check-circle"></i>Actively for 365 days </li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <!-- <a class="btn btn-custom" id="openModal" href="#">Book Now</a> -->
                                <button class="btn btn-custom openModal">Book Now</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Price End -->
        
        
        <!-- Location Start -->
        <div class="location">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="section-header text-left">
                            <p>Advertise With Us</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-ad"></i>
                                    <div class="location-text">
                                        <h3>Access to a Wide and Relevant Audience</h3>
                                        <p>Advertise your job postings or services to thousands of active job seekers from diverse fields, ranging from software development to accounting, ensuring your ads reach the right candidates.</p>
                                        <p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-bullhorn"></i>
                                    <div class="location-text">
                                        <h3>Enhanced Visibility Through Real-Time Alerts</h3>
                                        <p>Your advertisements will be part of our real-time notifications, directly sent to users based on their selected job categories, providing maximum exposure to a targeted audience</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-newspaper"></i>
                                    <div class="location-text">
                                        <h3>Focused Advertising for Specific Professions</h3>
                                        <p>With {{ category_counts }} job categories and personalized email notifications, your ads will reach professionals most relevant to your industry, making your campaigns highly effective and ensuring a strong ROI</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="location-item">
                                    <i class="fa fa-ad"></i>
                                    <div class="location-text">
                                        <h3>Cost-Effective Advertising with Measurable Results</h3>
                                        <p>Showcase your brand or job postings on a platform designed for engagement, where users actively seek opportunities, ensuring higher click-through rates and conversions for your ads.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="location-form">
                            <h3>Request for Advertisement Placement</h3>
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="Description" required="required"></textarea>
                                </div>
                                <br>
                                <div>
                                    <button class="btn btn-custom" type="submit">Send Request</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Location End -->

        <!-- Testimonial Start -->
        <!--div class="testimonial">
            <div class="container">
                <div class="section-header text-center">
                    <p>Testimonial</p>
                    <h2>What our clients say</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='style/homePage/img/testimonial-1.jpg') }}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='style/homePage/img/testimonial-2.jpg') }}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='style/homePage/img/testimonial-3.jpg') }}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <img src="{{ url_for('static', filename='style/homePage/img/testimonial-4.jpg') }}" alt="Image">
                        <div class="testimonial-text">
                            <h3>Client Name</h3>
                            <h4>Profession</h4>
                            <p>
                                Lorem ipsum dolor sit amet elit. Phasel preti mi facilis ornare velit non vulputa. Aliqu metus tortor auctor gravid
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
        <!-- Testimonial End -->

{% endblock %}
